.bg-left {
    min-height: 100vh;
    background: #f4ff29;
    background: linear-gradient(
        253deg,
        rgba(244, 255, 41, 1) 0%,
        rgba(255, 133, 25, 1) 100%
    );
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
